.vscode/
hw1/results.ipynb
hw2/data/
hw2/imgs/
hw2/lab2.pdf
hw2/log/
hw2/prof.out
hw2/prof/
hw2/profiler_logs/
hw2/run.sh
hw2/vss2134.tar.gz
hw2/vss2134/
project/diabetologia.csl
project/diabetologia.csl.1
project/proposal.pdf
hw2/scratch.py
hw3/data/
hw3/hp_tuned_4k_train_iters.tar.gz
hw3/imgs/
hw3/no_hp_4k_train_iters.tar.gz
hw3/nonPython_bot/CMakeLists.txt
hw3/nonPython_bot/build/
hw3/nonPython_bot/libtorch/
hw3/profiler_logs/
hw3/serialized_scripted_searcher.pt
hw3/wandb/